body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9ddff;
}
.App {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 700px;
    text-align: center;
    border: 1px solid #333;
    background: #F5F5F5;
    border-radius: 32px;
}

h1 {
  color: #003049;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #4c5499;
  padding: 12px 24px;
  border-radius: 12px;
  width: 80%;
  /* width: 100%; */
  margin: auto;
}
.top form input {
  background: transparent;
  border: none;
  outline: none;
  color: rgb(204, 39, 121);
}
.top button,
.item-buttons .update-item {
  background-color: #003049;
  border: none;
  border: 1px solid #333;
  padding: 8px 24px;
  color: #fff;
}
.list-items {
  margin: 20px auto;
}
.list-items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-buttons button {
  margin-left: 24px;
}
.item-buttons .delete-item {
  background-color: #c1121f;
  border: none;
  border: 1px solid #333;
  padding: 8px 24px;
  color: #fff;
}
.description {
  font-size: 20px;
  color: #003049;
}
.item {
    margin: auto;
    width: 80%;
}
button {
  cursor: pointer;
}